
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Backups
*~

# Other 
.DS_Store*
Prefix.pch
android/*
ios/*
libs/*
Constructor.xcodeproj/*
